@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}
* {
  font-family: Roboto;
  width: 100%;
}
body {
  overflow-x: hidden;
  background-color: #e5e5e5;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff9f4;
}
nav {
  display: flex;
  justify-content: space-between;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #e5e5e5;
  box-shadow: 0 9px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
}

#logopara {
  font-size: 1.4rem;
  margin-top: 7px;
  padding-right: 1px;
  position: relative;
  left: -200px;
}

#logo {
  width: 25%;
  margin-left: 30px;
  padding-top: 10px;
}
.NIKE {
  color: #ff8367;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.15rem;
}

li {
  display: inline;
  margin-right: 50px;
}
/* END OF HEADER */
#landingsection {
  background-color: #fff9f4;
  padding-bottom: 60px;
  margin-top: 50px;
  display: flex;
  /* justify-content: space-around; */
  /* margin-left: 180px; */
  margin-bottom: 30px;

}
#Landingimage {
  width: 90%;
  margin-top: 30px;
  margin-left: 80px;
}
@font-face {
  font-family: Bebas;
  src: url(fonts/BebasNeue-Regular.ttf);
}

#landingcontent {
  margin-left: 120px;
  margin-right: 0px;
  margin-top: 60px;
  padding-top: 20px;
}
.h1 {
  font-family: Bebas;
  font-weight: lighter;
  font-size: 80px;
  line-height: 38px;
}
#buynow {
  border: hidden;
  border-style: solid;
  border-radius: 6px;
  background-color: #3d4ff3;
  color: #e5e5e5;
  font-size: 15px;
  width: 120px;
  height: 50px;
}

#cart {
  display: inline;
  background-color: transparent;
  color: #e5e5e5;
}
/* END OF LANDING SECTION */

.casual-shoes {
  /* border-style: solid; */
  
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  
}
.imgdiv {
  text-align: center;
  /* border-style: solid; */
  border-radius: 20px;
  background-color: #f1f1f1;
  margin: 10px 9px;
  width: 95%;
  height: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.casualheadings {
    margin-top: 50px;
    margin-left: 104px;
  font-family: Bebas;
  color: #363958;
  font-weight: lighter;
  font-size: 3.0rem;
}
.customdesignforimg {
  width: 101%;
  margin-top: 10px;
  align-items: center;
  border-radius: 1px;
  padding-left: 10px;
}
.firstdiv {
  /* border-style: solid; */
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 30%;
  position: relative;
  top: -30px;
     
}

.maindiv {
  margin-left: 70px;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}
.maintext {
    font-family: Roboto;
    font-size: 24px;
  color: #363958;
  }
.casualcontent {
    /* border-style: solid; */
    line-height: 20px;
  margin-left: 26px;
   
  }
.causalbutton {
  border: hidden;
  border-radius: 6px;
  background-color: #3d4ff3;
  color: #ffffff;
  font-size: 16px;
  width: 120px;
  height: 50px;
  margin-left: 130px;
  margin-top: 10px;
  /* display: flex;
  align-items: center; */
}
.carts {
  /* border-style: solid; */

  width: 23px;
  display: inline;
  background-color: transparent;
  color: #e5e5e5;
}
.pbutton{
    display: inline;
}
.dollar{
    color: #FF8367;
    font-weight: bold;
    font-size: 25px;
}

/* END OF CASUAL SHOES  */
.imgdiv2{
  text-align: center;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 10px 9px;
  width: 90%;
  height: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  /* SUPPORT */
  .supportlock{
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url(Images/shopping\ image.png);
    background-size: 45%;
     background-repeat: no-repeat;
    background-position: 83% 
    
    
  
  }
  .perfectmaindiv{
  /* border-style: solid; */
  border-radius: 15px;
  background-color: #FFFFFF;
  width: 45%;
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
   
  
}
.perfectimgdiv{
  margin-left: 20px;
  /* border-style: solid; */
  width: 90px;
  
}
.perfectfit{
  /* border-style: solid; */
}
.perfcontent{
  width: 53%;
  margin-top: 6px;
}
.h5{
  font-size: 20px;
  color: #363958;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}
.hfivepara{
  margin-top: 9px;
  padding-bottom: 1px;
}

.perfectfit{
  width: 80px;
  margin-right: 0;
}
